
body {background-color: white}
.b4tob2 { width: 24%; margin-left: 0.5%; margin-right: 0.5%;}

@media (max-width: 780px) {
	.b4tob2 { width: 49%; margin-left: 0.5%; margin-right: 0.5%; }
	.category-menu {display: none;}
	.a8toa1 {width: 100%; align-content: center; max-height: 200px; max-width: 200px;}
	.icon-category {display: block}
    .none-mobile {display: none;}
}
.none-mobile {
        display: block;
}
.icon-category {
	display: none;
    position: absolute;
}
.a8toa1 {
	width: 12.5%;
	max-height: 125px;
	max-width: 125px;
}

.category-menu {
	width: 100%; 
	background-color: #333333
}

.size-125 { max-width: 125px; max-height: 125px; }
.size-270 { max-width: 270px; max-height: 270px; }
.size-225 { max-width: 225px; max-height: 225px; }

.width-1335 { width: 1335px; }

.btn-buy {
	background-color: #4b8b3b;
	color:#fff;
}
.bg-orange {
	background-color: #ffa500;
}
.bg-brown{
	background-color: #4b3621;
}
.bg-green {
	background-color: #34a853;
}
.bg-beige {
	background-color: #4B5320;
}
.bg-black {
	background-color: #212322;
}
.bg-white {
	background-color: #ffffff;
}
.bg-military {
	background-color: #5e7443;
}
.bg-gray {
	background-color: #333333 ;
}
.bg-tan {
	background-color: #f9eac3 ;
}
.bg-brown {
	background-color: #654321 ;
}

.bg-clear {background-color: #f3f4f4;}
.bg-1 {
	background-image: url("file:///C:/Users/jario/OneDrive/%C3%81rea%20de%20Trabalho/Design/Model/image/fundo.png");  
	background-size: cover; 
	background-repeat: no-repeat;
}
.padding-50 {
	padding-left: 50px;
	padding-right: 50px; }

.font-white { color:white; }

.font-black { color: black;}

.font-beige { color: #4B5320;}

.font-green { color:#34a853;}

.click:hover { opacity: 0.8;}

.white { color: #ffffff; }

.margin-top-30 { margin-top: 30px; }


.padding-3 { padding: 3px;} 

.margin-left-50 { margin-left: 50px;}

.icon-pay { max-width: 20px;}

.margin-right-200 { margin-right: 200px; }

.aldrich { font-family: Aldrich; font-style: normal; font-variant: normal;}

.made { font-family: 'MADE Soulmaze', sans-serif;}

.made-outline {	font-family: 'MADE Soulmaze Outline', sans-serif;}

p.outset {	border-style: outset;}


.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 210px;
  min-height: 180px;
  padding: 12px 12px;
  z-index: 2;
  border-radius: 10px;
  opacity: 0.95;
}


.dropdown-menu:hover .dropdown-content {
  display: block;
}
.size-170 {
    max-height:170px;
    max-height:170px;
}

