.btn-buy {
	background-color: #008000;
	color:#fff;
}

.btn-buy:hover {
	background-color: #006000;
}

.header {
    background-color: #000000;
}
.img-logo {
	max-width: 125px;
}
.bg-1 {
	background-image: url("file:///C:/Users/jario/OneDrive/%C3%81rea%20de%20Trabalho/Design/Model/image/fundo.png");  
	background-size: cover; 
	background-repeat: no-repeat;
}
.padding-50 {
	padding-left: 50px;
	padding-right: 50px;
}