:root {
	--theme-background-color: #fff; }

.b4tob2 { width: 24%; margin-left: 0.5%; margin-right: 0.5%;}

@media (max-width: 780px) {
	.b4tob2 { width: 49%; margin-left: 0.5%; margin-right: 0.5%; }

}
.size-125 { max-width: 125px; max-height: 125px; }
.size-270 { max-width: 270px; max-height: 270px; }

.width-1325 { width: 1325px; }

.btn-buy {
	background-color: #4b8b3b;
	color:#fff;
}
.bg-orange {
	background-color: #ffa500;
}
.bg-brown{
	background-color: #4b3621;
}
.bg-green {
	background-color: #008000;
}
.bg-beige {
	background-color: #4B5320;
}
.bg-black {
	background-color: #212322;
}
.bg-white {
	background-color: #ffffff;
}
.bg-military {
	background-color: #5e7443;
}
.bg-gray {
	background-color: #333333 ;
}
.bg-tan {
	background-color: #f9eac3 ;
}
.bg-brown {
	background-color: #654321 ;
}
.header {
    background-color: #000000;
}
.bg-1 {
	background-image: url("file:///C:/Users/jario/OneDrive/%C3%81rea%20de%20Trabalho/Design/Model/image/fundo.png");  
	background-size: cover; 
	background-repeat: no-repeat;
}
.padding-50 {
	padding-left: 50px;
	padding-right: 50px; }

.font-white { color:white; }

.font-black { color: black;}

.font-beige { color: #4B5320;}

.click:hover { opacity: 0.8;}

.white { color: #ffffff; }

.margin-top-30 { margin-top: 30px; }


.padding-3 { padding: 3px;} 

.margin-left-50 { margin-left: 50px;}

.icon-pay { max-width: 20px;}

.margin-right-200 { margin-right: 200px; }

.aldrich { font-family: Aldrich; font-style: normal; font-variant: normal;}

.made { font-family: 'MADE Soulmaze', sans-serif;}

.made-outline {	font-family: 'MADE Soulmaze Outline', sans-serif;}

p.outset {	border-style: outset;}


.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 300px;
  min-height: 200px;
  padding: 12px 16px;
  z-index: 1;
  border-radius: 10px;
  opacity: 0.9;
}


.dropdown-menu:hover .dropdown-content {
  display: block;
}

.dropdown-help {
  position: relative;
  display: inline-block;
}

.dropdown-content-help {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 150px;
  min-height: 150px;
  padding: 12px 16px;
  z-index: 1;
  border-radius: 10px;
}


.dropdown-help:hover .dropdown-content-help {
  display: block;
}
